{% extends 'layout.html' %}
{% block title %} User {% endblock %}

{% block content %}
<div class="w-full h-screen flex flex-col justify-center items-center">
  <div class="relative flex flex-col my-6 bg-white shadow-sm border border-slate-200 rounded-lg w-96">
    <div class="mx-3 mb-0 border-b border-slate-200 pt-3 pb-2 px-1">
      <span class="text-sm text-slate-600 font-medium">
        Information of {{ user["username"] }}
      </span>
    </div>
    <div class="p-4">
      <h5 class="text-slate-800 text-xl font-semibold">
        {{ user["name"] }}
      </h5>
      <p class="font-normal text-sm text-gray-700 dark:text-gray-400">{{ user["address"]["street"] }} {{ user["address"]["suite"] }} {{ user["address"]["city"] }}</p>
      <div class="ps-2 mb-2">
        <p class="font-normal text-gray-700 dark:text-gray-400">Email: {{ user["email"] }}</p>
        <p class="font-normal text-gray-700 dark:text-gray-400">Phone: {{ user["[phone]"] }}</p>
        <p class="font-normal text-gray-700 dark:text-gray-400">Email: {{ user["website"] }}</p>
      </div>
      <p class="text-slate-800 font-semibold">
        Company
      </p>
      <div class="ps-2">
        <p class="font-normal text-gray-700 dark:text-gray-400">Name: {{ user["company"]["name"] }}</p>
        <p class="font-normal text-gray-700 dark:text-gray-400">Fields: {{ user["company"]["[catchPhrase]"] }}</p>
        <p class="font-normal text-gray-700 dark:text-gray-400">Keywords: {{ user["company"]["bs"] }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
